@import 'tailwindcss';

@layer components {
  .section-title {
    @apply text-xl font-bold uppercase flex gap-1 before:w-1 before:bg-neutral-800;
  }

  .section {
    @apply flex flex-col gap-4;
  }

  .tag {
    @apply text-xs flex px-1 py-0.5 border text-neutral-500 rounded-sm;
  }

  .rich-container {
    @apply text-base;
  }

  .rich-container ul {
    @apply list-disc list-inside;
  }

  .menu-item {
    @apply border-neutral-800 odd:border-r-2 md:not-last:border-r-2 md:flex-auto flex-1/2 md:text-center md:first:text-left md:last:text-right max-md:even:text-right;
  }
}

@media print {
  @page {
    margin: 0;
    size: A4 portrait;
  }

  @theme {
    --breakpoint-md: 46rem;
  }
}
